@model HomeVM

<div class="container mt-5">
	<div class="row">
		@foreach (var item in Model.Movies)
		{
			<div class="col-md-3" style="margin-top: 20px">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">@item.Title</h5>
						<p class="card-text">@(item.Desc.Length > 100 ? item.Desc.Substring(0, 100) : item.Desc)</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Genre: @item.Genre</li>
						<li class="list-group-item">Duration: @item.Duration</li>
						<li class="list-group-item">Rating: @item.Rating</li>
					</ul>
					<div class="card-body">
						<a asp-action="create" asp-controller="reservation" asp-route-showTimeId="@item.Id" class="btn btn-primary">Reserve</a>
						<a class="btn btn-success">Detail</a>
					</div>
				</div>
			</div>
		}
	</div>
</div>

